@page "/quiz"
@using System.Timers
@implements IDisposable
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using AttendanceAppProject.Dto.Models

<PageTitle>Student Quiz</PageTitle>

<!-- Override any browser default styles -->
<style>
    body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    }

    .loading-spinner {
    text-align: center;
    font-size: 24px;
    }
</style>

<div class="quiz-page">
    <!-- Background container -->
    <div class="quiz-page-background"></div>

    <!-- UTD Text Logo -->
    <div class="logo-container">
        <div class="utd-text-logo">UTD</div>
    </div>

    <!-- Content container with z-index to appear above background -->
    <div class="quiz-container">
        <div class="header">
            <div class="datetime-display">@currentTime</div>
        </div>

        <!-- display for student info and selected class -->
        <div class="student-info">
            <div class="info-item">Student ID: <span>@studentId</span></div>
            <div class="info-item">Class: 
                <span>@classDto.ClassPrefix @classDto.ClassNumber - @classDto.ClassName</span>
                <br />
                <span>(@classDto.StartTime - @classDto.EndTime)</span>

            </div>
        </div>

        @if(isLoading) {
            <div class="loading-spinner">
                Loading...
            </div>
        }

        <!-- if quiz is completed show result information -->
        @if (quizCompleted)
        {
            <div class="quiz-completed">
                <h2>Quiz Completed!</h2>
                <div class="score">Your Score: @score / 1</div>
                <button @onclick="ReturnToHome" class="return-button">Return to Home</button>
            </div>

        }
        <!-- if the student is not valid, should be checked before on home page submission thus should not happen in normal use-->
        @if (!isValidStudent)
        {
            <div class="invalid-access">
                <h2>Invalid Access</h2>
                <p>You must log in through the home page to access this quiz.</p>
                <button @onclick="ReturnToHome" class="return-button">Return to Home</button>
            </div>
        }
        <!-- quiz display -->
        @if (isValidStudent)
        {

            <EditForm Model="@quizQuestionModels">
                @foreach(QuizQuestionModel quizQuestion in quizQuestionModels)
                {
                    <div class="quiz-question">
                        <div class="question-number">
                            Question @(quizQuestions.IndexOf(quizQuestion.QuestionDto) + 1) of @quizQuestions.Count
                        </div>


                        <div class="question-text">
                            <strong>@quizQuestion.QuestionDto.QuestionText</strong>
                        </div>

                        <InputRadioGroup @bind-Value="quizQuestion.SelectedAnswerId">
                            @foreach (QuizAnswerDto answerDto in quizQuestion.Answers)
                            {
                                <label>
                                    <InputRadio Value="@answerDto.AnswerId" />
                                    <span class="ms-2">@answerDto.AnswerText</span><br />
                                </label>
                            }
                        </InputRadioGroup>
                    </div><br />
                }

                <!-- button to handle form submission -->
                <div class="submit-button-container">
                    <button type="submit">Submit</button>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    private string currentTime = DateTime.Now.ToString("MMM dd, yyyy HH:mm");
    private Timer? secondsTimer;

    // Student information from query parameters
    private string studentId = "";
    private Guid classId = Guid.Empty;
    private ClassDto classDto = new ClassDto();

    private bool isValidStudent = true;
    private bool isLoading = true;

    // Quiz state
    private QuizInstanceDto quizInstance = new QuizInstanceDto();
    private List<QuizQuestionDto> quizQuestions = new List<QuizQuestionDto>();
    private List<List<QuizAnswerDto>> quizAnswers = new List<List<QuizAnswerDto>>();
    private List<QuizQuestionModel> quizQuestionModels = new();

    private string userAnswer = "";

    private bool showFeedback = false;
    private string feedback = "";
    private string feedbackClass = "";

    private bool questionAnswered = false;
    private bool quizCompleted = false;
    private int score = 0;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Get query parameters from URL
            var uri = new Uri(NavigationManager.Uri);
            var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

            studentId = query["studentId"] ?? "";
            classId = new Guid(query["class"] ?? "");
            System.Diagnostics.Debug.WriteLine($"Query Class ID: {classId.ToString()}");

            // pull class from database where classId mntches query
            classDto = await Http.GetFromJsonAsync<ClassDto>($"api/class/{classId.ToString()}");
            System.Diagnostics.Debug.WriteLine($"Class Selected: {classDto.ClassName}");

            quizInstance = await Http.GetFromJsonAsync<QuizInstanceDto>($"api/quizinstance/{classId.ToString()}");
            System.Diagnostics.Debug.WriteLine($"Quiz Selected: {quizInstance.QuizId}");

            if(quizInstance.QuizId == Guid.Empty) {
                isValidStudent = false;
                isLoading = false;
                return;
            }

            // Only load quiz question if student is valid
            // Load quiz question
            await LoadQuizQuestions();
            await LoadQuizAnswers();

            foreach(var questionDto in quizQuestions) {
                var model = new QuizQuestionModel
                    {
                        QuestionDto = questionDto,
                        Answers = quizAnswers[quizQuestions.IndexOf(questionDto)],
                        SelectedAnswerId = null
                    };
                System.Diagnostics.Debug.WriteLine(model.Answers);
                @foreach(var answer in model.Answers) {
                    System.Diagnostics.Debug.WriteLine(answer.AnswerText);
                }
                quizQuestionModels.Add(model);
            }
        }
        catch(Exception e) 
        {
            Console.WriteLine($"Error: {e.Message}");
            isValidStudent = false;
            isLoading = false;
            return;
        }
        // Set up timer for current time display
        secondsTimer = new Timer(1000);
        secondsTimer.Enabled = true;
        secondsTimer.AutoReset = true;
        secondsTimer.Elapsed += (sender, e) => UpdateTime();

        isLoading = false;
    }

    private async Task LoadQuizQuestions()
    {
        try
        {
            quizQuestions = await Http.GetFromJsonAsync<List<QuizQuestionDto>>($"api/quizquestion/{quizInstance.QuizId.ToString()}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading quiz questions: {ex.Message}");
        }
    }

    // load List<QuizAnswers> and add each list to a map to map QuizQuestion -> quizAnswers
    private async Task LoadQuizAnswers()
    {
        try
        {
            foreach (var questionDto in quizQuestions)
            {
                var answerDtos = await Http.GetFromJsonAsync<List<QuizAnswerDto>>($"api/quizanswer/{questionDto.QuestionId}");
                quizAnswers.Add(answerDtos);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading quiz answers: {ex.Message}");
        }
    }

    // method to automatically update time on page
    private void UpdateTime()
    {
        InvokeAsync(() =>
        {
            // pulls current time and updates page with StateHasChanged
            currentTime = DateTime.Now.ToString("MMM dd, yyyy HH:mm");
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        if (secondsTimer is not null)
        {
            secondsTimer.Stop();
            secondsTimer.Dispose();
        }
    }

    // method to handle quiz submissions
    // checks answers from QuizInstance pulled from database

    // TODO
    // create attendanceinstance on submission and post to database
    private void SubmitQuiz()
    {
        System.Diagnostics.Debug.WriteLine("====Detected Quiz Submission====");

        return;
    }

    // handle navigation back to home page
    private void ReturnToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SubmitQuiz();
        }
    }

    public class QuizQuestionModel
    {
        public QuizQuestionDto QuestionDto { get; set; }
        public List<QuizAnswerDto> Answers { get; set; }
        public int? SelectedAnswerId { get; set; }
    }
}